<!DOCTYPE html>

<head> 
<title> Weather | About </title>
<link rel="icon" href="/img/weather-icon.png">
<link rel="stylesheet" href='./css/style.css'>
<!-- <script src="/js/app.js"> </script> -->
</head>

<body>

<div class="main-content">
{{>header}}

<p> This basic weather webiste is created by Sanjay. It uses darksky.net api's for weather data and mapcode for geocoding</p>
<p> This is about section. Contact us using the Contact number or email at the bottom</p>
</div>
{{>footer}}
</body>

</html>